[submodule "Core/KeraLua"]
	path = Core/KeraLua
	url = https://github.com/Buerkert/Buerkert.KeraLua.git
[submodule "tests/LuaTests"]
	path = tests/LuaTests
	url = https://github.com/NLua/LuaTests.git
