<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
       <clear />
       <add key="github" value="https://nuget.pkg.github.com/buerkert/index.json" />
       <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
     <packageSourceCredentials>
        <github>
            <add key="Username" value="K.Broselge@gmail.com" />
            <add key="ClearTextPassword" value="19547a2976da786440c16511348c45f2c373ff40" />
        </github>
    </packageSourceCredentials>
</configuration>