<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
       <add key="BuerkertGithubPackageRegistry" value="https://nuget.pkg.github.com/buerkert/index.json" />
    </packageSources>
     <packageSourceCredentials>
        <BuerkertGithubPackageRegistry>
            <add key="Username" value="BuerkertMU" />
            <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA0wmeSIGzNEO8ZbL8nd+BwAAAAAACAAAAAAADZgAAwAAAABAAAAACIgeeRMmGRFvFlGBEUmN/AAAAAASAAACgAAAAEAAAAIPkB38/lgJDE/RhqUgpPmQwAAAAlXkB8H47vFHnLiB4di1eCCmVqU+jNJJRXvy9EjQSnjssd3HsTSKUdmhAlsUPdHrDFAAAAENY/yHv3Z4ue2fFaN76dYTfoqWd" />
        </BuerkertGithubPackageRegistry>
    </packageSourceCredentials>
</configuration>