name: build

on:
  push:
    branches:
      - '*'
      - '!master'
  pull_request:
    branches:
      - '*'

jobs:
  build:
    uses: ./.github/workflows/build-reuse.yml
    with:
      test_var: ${{ github.event_name == 'test' && github.run_number || '' }}
